.body {
    color: white;
    text-align: center;
}

.container {
    margin-top: 15%;
}

#passLength {
    max-width: 300px;
}

#genPass {
    margin: 15px 0 15px 0;
}

#copyPass {
    cursor: pointer;
}

.baseStyle {
    max-width: 300px;
    margin:20px;
}

.borderSolid{
    border-style: solid;
}

.cntr{
    text-align: center;
}

.mw350{
    max-width: 350px;
}